{% extends 'base.html'%}
{% set active_page = "projects" %}
{% block title %}
My Projects
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}" />
{% endblock %}

{% block content %}
	<main>
		<section class="cards">
			{% for project in projects %}
				{% set url = project["url"] %}
				<div class="card" onclick='window.location.href = "{{url}}";'>
					<div class="card__image-container">
						<img src="{{project['image']}}" />
					</div>
					<div class="card__content">
						<p class="card__title text--medium">
							{{project['title']}}
						</p>
						<div class="card__info">
							<p class="text--medium">{{project['desc']}}</p>
							<p class="card__type text--medium">{{project['lang']}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</main>
{% endblock %}
