{% extends 'base.html'%}
{% set active_page = "skills" %}
{% block title %}
  My Skills
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/skills.css') }}" />
{% endblock %}

{% block content %}
	<main>
		<center><h1>My Skills (Add animations)</h1></center>
		
		<div class="skills_container">
			<div class="item">
				<p>Python</p>
				<div class="container">
					<button class="skills python collapsible"></button>
					<div class="content">
						<div class="inner_skills_container">
							<div class="big_container">
								<p>Flask</p>
								<div class="inner_skill_container">
									<div class="skills flask inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Discord.py</p>
								<div class="inner_skill_container">
									<div class="skills discord inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Requests</p>
								<div class="inner_skill_container">
									<div class="skills requests inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>BeautifulSoup</p>
								<div class="inner_skill_container">
									<div class="skills requests inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Selenium</p>
								<div class="inner_skill_container">
									<div class="skills requests inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Threading</p>
								<div class="inner_skill_container">
									<div class="skills thread inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Tkinter</p>
								<div class="inner_skill_container">
									<div class="skills tkinter inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Click</p>
								<div class="inner_skill_container">
									<div class="skills click inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Argparse</p>
								<div class="inner_skill_container">
									<div class="skills argparse inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Cryptography</p>
								<div class="inner_skill_container">
									<div class="skills cryptography inner"></div>
								</div>
							</div>
						</div>
						<p class="text">Some collapsible content. 
							Click the button to toggle between showing and hiding the collapsible content. 
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, 
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
			</div>

			<div class="item">
				<p>HTML</p>
				<div class="container">
					<button class="skills html collapsible"></button>
					<div class="content">
						<div class="inner_skills_container">
							<div class="big_container">
								<p>Example Module</p>
								<div class="inner_skill_container">
									<div class="skills python inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Example Module</p>
								<div class="inner_skill_container">
									<div class="skills python inner"></div>
								</div>
							</div>
						</div>
						<p class="text">Some collapsible content. 
							Click the button to toggle between showing and hiding the collapsible content. 
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, 
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
			</div>

			<div class="item">
				<p>CSS</p>
				<div class="container">
					<button class="skills css collapsible"></button>
					<div class="content">
						<div class="inner_skills_container">
							<div class="big_container">
								<p>Example Module</p>
								<div class="inner_skill_container">
									<div class="skills python inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Example Module</p>
								<div class="inner_skill_container">
									<div class="skills python inner"></div>
								</div>
							</div>
						</div>
						<p class="text">Some collapsible content. 
							Click the button to toggle between showing and hiding the collapsible content. 
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, 
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
			</div>

			<div class="item">
				<p>JavaScript</p>
				<div class="container">
					<button class="skills js collapsible"></button>
					<div class="content">
						<div class="inner_skills_container">
							<div class="big_container">
								<p>Example Module</p>
								<div class="inner_skill_container">
									<div class="skills python inner"></div>
								</div>
							</div>
							<div class="big_container">
								<p>Example Module</p>
								<div class="inner_skill_container">
									<div class="skills python inner"></div>
								</div>
							</div>
						</div>
						<p class="text">Some collapsible content. 
							Click the button to toggle between showing and hiding the collapsible content. 
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, 
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script type="text/javascript" src="{{ url_for('static', filename='js/collapsible.js') }}"></script>
{% endblock %}
