/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #181818;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a5a5a5;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #08fdd8;
}